@page "/createQuiz"
@inject NavigationManager NavManager
@inject HttpClient Http

@using System.ComponentModel.DataAnnotations
@using API.Models
@using System.Net.Http

<h2>Create Quiz</h2>



@code {

}
